{% set menu = kms_menu('main') %}
<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">{{ kms.site_title }}</span>
                {% if kms.site_logo %}
                    <img class="h-8 w-auto" src="{{ kms.site_logo }}" alt="" />
                {% else %}
                    {% set title = kms.site_title %}
                    <h1 class="text-3xl text-center font-bold tracking-tight text-gray-900 sm:text-4xl pb-5">
                        {{ title is not null and title != '' ? title : 'KMS' }}
                    </h1>
                {% endif %}
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            {% for menuItem in menu %}
                <a href="{{ menuItem.url }}" class="text-sm font-semibold leading-6 text-gray-900">{{ menuItem.label }}</a>
            {% endfor %}
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            {% if app.user %}
                <a href="{{ path('kms_admin') }}" class="text-sm font-semibold leading-6 text-gray-900">Admin<span aria-hidden="true">&rarr;</span></a>
            {% else %}
                <a href="{{ path('kms_login') }}" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </div>
    </nav>
    <div class="lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="" />
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        {% for menuItem in menu %}
                            <a href="{{ menuItem.url }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{ menuItem.label }}</a>
                        {% endfor %}
                    </div>
                    <div class="py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
